body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    overflow: hidden;
}

header h1 {
    margin: 0;
    padding: 0;
}

header p {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    line-height: 1.5;
}

section {
    padding: 20px;
    margin: 20px 0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
    padding: 0;
}
